/* Resets */
html,
body {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #ececec52;
  color: #111;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

header {
  text-align: center;
}

header h1 {
  font-size: 3em;
}

header p {
  display: inline-block;
  color: #333;
  padding-bottom: 0.5em;
  border-bottom: 3px solid red;
}

#game {
  margin-top: 20px;
  margin-left: 27%;
}